@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* 擴充專案的全站樣式 */

  /* *,
  *::before,
  *::after {
    outline: 1px solid red;
  } */

  body {
    @apply text-neutral-950;
  }
}

@layer components {
  /* 自組元件 */
  .mySwiper .swiper-pagination-bullet {
    @apply !mx-0.5 size-1.5 rounded-full bg-[#E6E7E7A8] opacity-100;
  }

  .mySwiper .swiper-pagination-bullet-active {
    @apply bg-white;
  }

  .btn-check {
    @apply pointer-events-none absolute;
    clip: rect(0, 0, 0, 0);
  }

  .btn-check + label {
    @apply cursor-pointer;
  }

  .btn-check:checked + label {
    @apply bg-brand-300 text-brand-800;
  }
}

@layer utilities {
  /* 自組樣式 */
  .bxs-star {
    color: #ffda44;
  }

  /* search-result 頁的圖片陰影 */
  #tour .swiper-slide::after {
    @apply absolute inset-0 rounded-2xl bg-gradient-to-bl from-neutral-950 to-transparent opacity-20;
    content: "";
  }

  .dropmenu-checkbox:checked + .datepicker {
    @apply max-h-[300px];
  }

  /* show more, less 控制內文顯示行數 */
  .truncate-multi-line {
    @apply overflow-hidden text-ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    -webkit-line-clamp: 5;
    /* 限制顯示5行 */
  }

  /* show more, less 展開內文 */
  .expanded {
    @apply overflow-visible;
    -webkit-line-clamp: unset;
    -webkit-box-orient: initial;
  }
}
