<!doctype html>
<html lang="zh-Hant">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>首頁</title>
  </head>
  <body class="pb-[73px] pt-28">
    <nav class="fixed left-0 top-0 z-50 w-full">
      <%- include('./src/layout/navbar.ejs'); -%>
    </nav>

    <section>
      <!-- FeatureList -->
      <ul
        class="flex justify-center gap-x-2 pb-4 pt-2 text-[11px] font-bold leading-[16.5px] text-neutral-400"
      >
        <li>
          <a href="#" class="flex flex-col items-center gap-y-1.5">
            <i
              class="bx bx-leaf mx-[18px] text-2xl leading-6 text-neutral-400"
            ></i>
            Natural
          </a>
        </li>
        <li>
          <a href="#" class="flex flex-col items-center gap-y-1.5">
            <i
              class="bx bx-restaurant mx-[18px] text-2xl leading-6 text-neutral-400"
            ></i>
            Local cuisine
          </a>
        </li>
        <li>
          <a href="#" class="flex flex-col items-center gap-y-1.5">
            <i
              class="bx bx-palette mx-[18px] text-2xl leading-6 text-neutral-400"
            ></i>
            Arts
          </a>
        </li>
        <li>
          <a
            href="#"
            class="flex flex-col items-center justify-between gap-y-1.5"
          >
            <img
              src="../assets/svg/Hiking.svg"
              alt="Hiking"
              class="mx-[18px]"
            />
            Hiking
          </a>
        </li>
        <li>
          <a
            href="#"
            class="flex flex-col items-center justify-between gap-y-1.5"
          >
            <img
              src="../assets/svg/Surfing.svg"
              alt="Hiking"
              class="mx-[18px]"
            />
            Surfing
          </a>
        </li>
      </ul>
    </section>

    <%- include('./src/components/cardSwiper.ejs'); -%> <%-
    include('./src/layout/footer.ejs'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
