<div
  id="datepicker"
  class="h-0 overflow-hidden rounded-b-2xl bg-white duration-300 ease-in-out"
>
  <div class="px-3 py-4">
    <div class="mb-6 flex items-center justify-between">
      <p class="ps-2 text-sm font-semibold">August 2024</p>
      <div class="space-x-2 text-2xl leading-6">
        <a href="#">
          <i class="bx bx-chevron-left text-[#E6E7E7]"></i>
        </a>
        <a href="#"><i class="bx bx-chevron-right text-[#6A706F]"></i></a>
      </div>
    </div>
    <div id="calendar"></div>
  </div>
</div>
