<footer class="fixed bottom-0 left-0 z-40 w-full border-t border-neutral-100">
  <ul
    class="flex justify-center bg-white px-2 py-1 text-[10px] font-semibold text-neutral-300"
  >
    <li>
      <a href="#" class="flex flex-col items-center gap-y-1 py-2 text-black">
        <i class="bx bx-search-alt-2 mx-6 text-2xl leading-6"></i>
        Explore
      </a>
    </li>
    <li>
      <a href="#" class="flex flex-col items-center gap-y-1 py-2">
        <i class="bx bx-heart mx-6 text-2xl leading-6"></i>
        Wishlists
      </a>
    </li>
    <li>
      <a href="#" class="flex flex-col items-center gap-y-1 py-2">
        <img src="../assets/svg/Order.svg" alt="Order" class="mx-6" />
        Orders
      </a>
    </li>
    <li>
      <a href="#" class="flex flex-col items-center gap-y-1 py-2">
        <img src="../assets/svg/LogoNoFeet.svg" alt="LogoNoFeet" class="mx-6" />
        Messages
      </a>
    </li>
    <li>
      <a href="#" class="flex flex-col items-center gap-y-1 py-2">
        <i class="bx bx-user mx-6 text-2xl leading-6"></i>
        Profile
      </a>
    </li>
  </ul>
</footer>
